label, p{
    margin: 10px 0 10px 0;
    display: block;
    font-weight: bold;
}
[type='radio'] ,[type='checkbox']{
    margin-right: 10px;
} 

.radio, .check{
    font-weight: normal !important;
}

.button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .button{
        justify-content: flex-end;
    }
}